.top-shadow {
  box-shadow: 0 0 10px 0 rgba(129, 129, 129, 0.2);
}

/*! Flickity v2.1.2
https://flickity.metafizzy.co
---------------------------------------------- */

.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus {
  outline: none;
}

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* draggable */

.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* ---- flickity-button ---- */

.flickity-button {
  position: absolute;
  background: hsla(0, 0%, 100%, 0.75);
  border: 2px solid;
  color: #333;
  bottom: 12px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flickity-button:hover {
  background: white;
  cursor: pointer;
}

.flickity-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #19f;
}

.flickity-button:active {
  opacity: 0.6;
}

.flickity-button:disabled {
  opacity: 0.3;
  cursor: auto;
  /* prevent disabled button from capturing pointer up event. #716 */
  pointer-events: none;
}

.flickity-button-icon {
  fill: #163300;
}

.flickity-prev-next-button.previous {
  left: 10px;
}

.flickity-prev-next-button.next {
  right: 10px;
}

/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px;
}

.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px;
}

.flickity-prev-next-button .flickity-button-icon {
  width: 24px;
}

/* ---- page dots ---- */

.flickity-page-dots {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
  width: 40%;
  -ms-flex-order: 4;
  order: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 32px auto;
}

.flickity-rtl .flickity-page-dots {
  direction: rtl;
}

.flickity-page-dots .dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 4px;
  background: black;
  border-radius: 50%;
  opacity: 0.6;
  cursor: pointer;
}

.flickity-page-dots .dot.is-selected {
  opacity: 1;
}

.mini_cart_upsell .flickity-prev-next-button {
  position: static;
  width: 30%;
  -ms-flex-order: 4;
  order: 4;
  color: #222;
  border: 0;
  background: 0 0;
  border-radius: 0;
  transform: none;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mini_cart_upsell .flickity-prev-next-button.next {
  -ms-flex-order: 5;
  order: 5;
}

/*  */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

button,
select {
  text-transform: none;
}

textarea {
  resize: vertical;
}

[role="button"],
button {
  cursor: pointer;
}

img,
video {
  max-width: 100%;
  height: auto;
}

[hidden] {
  display: none;
}

[multiple],
[type="date"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* background-color: #fff; */
  border-color: #6b7280;
  /* border-width: 1px; */
  /* border-radius: 0; */
  /* padding-top: 0.5rem; */
  /* padding-right: 0.75rem; */
  /* padding-bottom: 0.5rem; */
  /* padding-left: 0.75rem; */
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-shadow: 0 0 #0000;
}

select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  padding-right: 2.5rem;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
}

[dir="rtl"] select {
  background-position: left 0.5rem center;
  /* Style for RTL direction */
}

[multiple] {
  background-image: initial;
  background-position: initial;
  background-repeat: unset;
  background-size: initial;
  padding-right: 0.75rem;
  -webkit-print-color-adjust: unset;
  color-adjust: unset;
}

[type="checkbox"],
[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  display: inline-block;
  vertical-align: middle;
  background-origin: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  flex-shrink: 0;
  /* height: 1rem;
  width: 1rem; */
  color: #2563eb;
  background-color: #fff;
  border-color: #6b7280;
  border-width: 1px;
  --tw-shadow: 0 0 #0000;
}

[type="checkbox"] {
  border-radius: 3px;
  background-image: url(../public/images/icons/Checkbox2.png);
  background-size: cover;
}

[type="radio"] {
  border-radius: 100%;
}

[type="checkbox"]:focus,
[type="radio"]:focus {
  outline: none;
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow);
}

[type="checkbox"]:checked,
[type="radio"]:checked {
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

[type="checkbox"]:checked {
  /* background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e"); */
  background-image: url(../public/images/icons/Checkbox.png);
}

[type="radio"]:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
}

[type="checkbox"]:checked:focus,
[type="checkbox"]:checked:hover,
[type="radio"]:checked:focus,
[type="radio"]:checked:hover {
  border-color: transparent;
  background-color: currentColor;
}

[type="checkbox"]:indeterminate {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3e%3cpath stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 8h8'/%3e%3c/svg%3e");
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

[type="checkbox"]:indeterminate:focus,
[type="checkbox"]:indeterminate:hover {
  border-color: transparent;
  background-color: currentColor;
}

[type="file"] {
  background: unset;
  border-color: inherit;
  border-width: 0;
  border-radius: 0;
  padding: 0;
  font-size: unset;
  line-height: inherit;
}

[type="file"]:focus {
  outline: 1px auto -webkit-focus-ring-color;
}

.direction-ltr {
  direction: ltr;
}

.direction-rtl {
  direction: rtl;
}

.slide-up {
  display: none;
  overflow: hidden;
  transition: 0.4s ease-in;
}

.slide-up-active {
  display: block;
  /* Adjust the value based on your content's height */
  transition: 0.4s ease-in;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
}

.shake-animation {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}


/* slick style */
.product-list .slick-slider .slick-arrow {
  z-index: 1111;
}
.slick-disabled {
}
/* .product-list .slick-slider .slick-arrow.slick-prev {
  right: 12px !important;
}
.product-list .slick-slider .slick-arrow.slick-next {
  left:-12px !important;
} */
.product-list .slick-slider .slick-arrow::before {
  display: none;
}
.rtl {
  direction: rtl;
}
.scan-artwork:before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50px;
  padding: 10px;
  background: linear-gradient(
    180deg,
    rgba(24, 80, 57, 1) 0%,
    rgba(18, 110, 73, 0) 80%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.custom-negative-margin > div.first {
  z-index: 3;
}
.custom-negative-margin > div ~ div {
  margin-left: -170px;
  margin-top: calc(58px * 1);
}
.custom-negative-margin > div ~ div.second {
  z-index: 2;
}
.custom-negative-margin > div ~ div.third {
  margin-top: calc(58px * 2);
  z-index: 1;
}
.top-shadow {
  box-shadow: 0 0 10px 0 rgba(129, 129, 129, 0.2);
}
[type="checkbox"],
[type="file"] {
  border-radius: 0;
}
[type="checkbox"]:checked,
[type="checkbox"]:checked:focus,
[type="checkbox"]:checked:hover,
[type="radio"]:checked,
[type="radio"]:checked:focus,
[type="radio"]:checked:hover {
  border-color: transparent;
  background-color: currentColor;
}
.products-slider .slick-slide,
img,
video {
  height: auto;
}
.mini_cart_upsell .flickity-prev-next-button.next {
  -ms-flex-order: 5;
  order: 5;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}
[type="checkbox"],
[type="radio"],
select {
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
}
button,
select {
  text-transform: none;
}
textarea {
  resize: vertical;
}
[role="button"],
button {
  cursor: pointer;
}
img,
video {
  max-width: 100%;
}
[hidden] {
  display: none;
}
[multiple],
[type="date"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  border-color: #6b7280;
  border-width: 1px;
  border-radius: 0;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-shadow: 0 0 #0000;
}
select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  padding-right: 2.5rem;
}
[dir="rtl"] select {
  background-position: left 0.5rem center;
}
[multiple] {
  background-image: initial;
  background-position: initial;
  background-repeat: unset;
  background-size: initial;
  padding-right: 0.75rem;
  -webkit-print-color-adjust: unset;
  color-adjust: unset;
}
[type="checkbox"],
[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  background-origin: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  flex-shrink: 0;
  height: 1rem;
  width: 1rem;
  color: #2563eb;
  background-color: #fff;
  border-color: #6b7280;
  border-width: 1px;
  --tw-shadow: 0 0 #0000;
}
[type="radio"] {
  border-radius: 100%;
}
[type="checkbox"]:focus,
[type="radio"]:focus {
  outline: 0;
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow);
}
[type="checkbox"]:checked,
[type="radio"]:checked {
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
[type="checkbox"]:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}
[type="radio"]:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
}
[type="checkbox"]:indeterminate {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3e%3cpath stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 8h8'/%3e%3c/svg%3e");
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
[type="checkbox"]:indeterminate:focus,
[type="checkbox"]:indeterminate:hover {
  border-color: transparent;
  background-color: currentColor;
}
[type="file"] {
  background: unset;
  border-color: inherit;
  border-width: 0;
  padding: 0;
  font-size: unset;
  line-height: inherit;
}
[type="file"]:focus {
  outline: -webkit-focus-ring-color auto 1px;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
}
.shake-animation {
  animation: 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both shake;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
.aspect-w-1,
.aspect-w-10,
.aspect-w-11,
.aspect-w-12,
.aspect-w-13,
.aspect-w-14,
.aspect-w-15,
.aspect-w-16,
.aspect-w-2,
.aspect-w-3,
.aspect-w-4,
.aspect-w-5,
.aspect-w-6,
.aspect-w-7,
.aspect-w-8,
.aspect-w-9 {
  position: relative;
  padding-bottom: calc(var(--tw-aspect-h) / var(--tw-aspect-w) * 100%);
}
.aspect-w-10 > *,
.aspect-w-11 > *,
.aspect-w-12 > *,
.aspect-w-13 > *,
.aspect-w-14 > *,
.aspect-w-15 > *,
.aspect-w-16 > *,
.aspect-w-1 > *,
.aspect-w-2 > *,
.aspect-w-3 > *,
.aspect-w-4 > *,
.aspect-w-5 > *,
.aspect-w-6 > *,
.aspect-w-7 > *,
.aspect-w-8 > *,
.aspect-w-9 > * {
  position: absolute;
  /* height: 100%;
  width: 100%; */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.aspect-w-4 {
  --tw-aspect-w: 4;
}
.aspect-h-3 {
  --tw-aspect-h: 3;
}
.shadow-custom {
  box-shadow: 0px 20px 66px 0px rgba(0, 0, 0, 0.2);
}
@media (min-width: 768px) {
  /* .single-product .shadow-custom{box-shadow: none;} */
  .md:shadow-custom{box-shadow: 0px 20px 66px 0px rgba(0, 0, 0, 0.2);}
}
.products-slider .slick-track {
  display: flex;
}
.products-slider .slick-track .slick-slide > div {
  height: 100%;
}

.products-slider img{mix-blend-mode: multiply;}
.hoverFromCenter{position: relative;}
.hoverFromCenter:after {
  display:block;
  content: '';
  border-bottom: solid 4px #DCC498;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
  position: absolute;
  width: 100%;
  bottom: 0;
}
.hoverFromCenter:hover:after { transform: scaleX(1); }
.hoverFromCenter2{position: relative;}
.hoverFromCenter2:after {
  display:block;
  content: '';
  border-bottom: solid 4px #DCC498;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 100%;
}
.hoverFromCenter2:hover:after { transform: scaleX(1); }
#headlessui-portal-root{position: fixed;z-index: 999;}
.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 24px;
}

.rotate-center {
	-webkit-animation: rotate-center 1s ease-in-out 0.1s infinite ;
	        animation: rotate-center 1s ease-in-out 0.1s infinite ;
}
 @-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.gallery .slick-track{width: auto !important;display: block;position: relative;padding-top: 100%;}
.gallery .slick-slide{float: none;left: 0 !important;right: 0 !important;width: auto !important;padding: 10%;position: absolute !important;top: 0;}
.gallery .slick-slide.slick-current{display:block;}
.gallery .slick-slide .slick-slide-image{width: 100%;}
.gallery-thumbnail-slider-wrap .slick-slide .thumbnail-slide{border: 2px solid #E8DFD0;}
.gallery-thumbnail-slider-wrap .slick-slide.slick-current .thumbnail-slide{border-color: #163300;border-width: 4px;}
.gallery-thumbnail-slider-wrap  .slick-track{margin: 0;display: flex;gap: 10px;}
@media (min-width: 768px) {
  .gallery-thumbnail-slider-wrap .slick-track{margin: 0 auto;display: block;}
  .gallery-thumbnail-slider-wrap .slick-list{height: auto !important;}
}